@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@200&display=swap");
*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

html, body {
  font-family: 'Outfit', sans-serif;
  background: black;
  width: 100%;
  margin: 0 auto; }

a {
  text-decoration: none;
  color: white;
  text-transform: uppercase; }

li {
  list-style: none; }

.header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10rem;
  border-bottom: 1px solid #0f0b01;
  background: linear-gradient(to right, #201804, black, black, #201804); }
  .header img {
    width: 250px; }
  .header__logo a {
    text-transform: none;
    font-size: 1.5rem;
    letter-spacing: 10px; }
    .header__logo a:hover {
      color: #201804;
      text-shadow: goldenrod 1px 1px 2px; }

.header-nav__lista {
  display: flex;
  gap: 2rem; }

.header-nav__item a::after {
  color: red;
  font-size: 8px;
  font-weight: 100;
  content: 'soon'; }

.header-nav__item :hover {
  color: goldenrod;
  text-shadow: goldenrod 1px 1px 1px; }

.header-nav__link {
  font-size: 0.7rem; }

.no-after a::after {
  content: none; }

@media screen and (max-width: 500px) {
  .header {
    flex-direction: column;
    gap: 0rem; }
    .header__logo {
      text-align: center; }
  .header-nav__lista {
    flex-direction: column;
    display: none; } }

.main {
  width: 100%;
  margin: 0 auto;
  margin-top: 2rem; }
  .main-head {
    text-align: center;
    margin-bottom: 3rem; }
    .main-head h2 {
      color: goldenrod;
      margin-bottom: 1rem; }
    .main-head h3 {
      color: white;
      margin-bottom: 1rem;
      font-size: 25px; }
  .main-contenedor {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 0 20rem; }
    .main-contenedor__uno {
      width: 40%;
      padding: 1rem;
      height: 700px;
      border-left: 1px solid grey;
      border-right: 1px solid grey;
      background: linear-gradient(to right, black, #050505, #0a0a0a); }
      .main-contenedor__uno h3 {
        color: white;
        text-transform: uppercase;
        font-style: italic; }
      .main-contenedor__uno p {
        color: #c4bebe;
        font-size: 20px; }
    .main-contenedor__dos {
      margin-bottom: 2rem; }
      .main-contenedor__dos img {
        max-width: 500px;
        height: 700px;
        border: 1px solid white; }
    .main-contenedor__column {
      display: flex;
      margin: 2rem; }
    .main-contenedor__box {
      display: flex; }
      .main-contenedor__box i {
        color: goldenrod;
        margin: 0 1rem;
        font-size: 2rem; }
      .main-contenedor__box h3 {
        color: white; }

.wppContact {
  width: 120px;
  position: fixed;
  bottom: 3rem;
  right: 3rem;
  z-index: 100;
  padding: 1rem;
  border: 1px solid grey;
  border-radius: 5px;
  text-align: center;
  background: linear-gradient(to left, black, #050505, #0a0a0a); }
  .wppContact p {
    color: white; }
  .wppContact i {
    font-size: 35px;
    color: green; }

#contactos {
  margin-top: 2rem; }
  #contactos i {
    color: goldenrod;
    padding-top: 0.5rem;
    font-size: 20px; }
  #contactos h3 {
    color: white;
    font-size: 25px;
    text-transform: uppercase;
    margin-bottom: 1.5rem; }

.contact-item {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  margin: 0.5rem; }
  .contact-item p span {
    color: white;
    font-size: 15px; }
  .contact-item p a {
    text-transform: lowercase;
    color: orange;
    border-bottom: 1px solid; }

.carousel {
  width: 400px;
  max-width: 500px;
  height: 700px; }

.portfolio {
  margin: 3rem;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  text-align: center; }

.contenidoInsta {
  display: none;
  visibility: hidden;
  background: rgba(0, 0, 0, 0.65);
  backdrop-filter: blur(4px);
  position: fixed;
  top: 1px;
  right: 1px;
  z-index: 1000;
  width: 100%;
  height: 100%;
  transition: 0.5s; }
  .contenidoInsta__title {
    color: white;
    text-align: center;
    margin-top: 8rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 4rem; }
    .contenidoInsta__title span {
      color: goldenrod;
      padding-left: 1rem; }
  .contenidoInsta__src {
    text-align: center; }

.tit {
  text-align: center;
  margin-top: 3rem; }
  .tit h2 {
    color: #a77e17; }

.btnMostrarContent {
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #a77e14;
  color: white;
  background-color: black;
  box-shadow: goldenrod 1px 1px 1px;
  margin-top: 1rem; }
  .btnMostrarContent:hover {
    box-shadow: goldenrod 2px 2px;
    text-decoration: underline; }

.videoTit {
  color: white;
  text-transform: uppercase;
  font-weight: 900; }

.btnCerrar {
  text-align: right;
  position: fixed;
  top: 10rem;
  right: 10rem; }
  .btnCerrar a {
    font-size: 2rem;
    color: white; }

.container-fluid {
  display: flex;
  justify-content: space-around; }

.imgVideoClip {
  width: 1000px; }

@media screen and (max-width: 500px) {
  .main-contenedor {
    flex-direction: column;
    justify-content: center;
    margin: 0 auto; }
    .main-contenedor__uno {
      width: 100%; }
  .carousel {
    max-width: 100%; }
  .wppContact {
    opacity: 0.9;
    width: 100px;
    bottom: 1rem;
    right: 1rem;
    padding: 0.5rem;
    background: linear-gradient(to left, black, #050505, #0a0a0a); }
    .wppContact p {
      display: none; }
    .wppContact i {
      font-size: 35px;
      color: green; }
  .contenidoInsta iframe {
    width: 100%;
    height: 400px; }
  .contenidoInsta__title {
    gap: 0rem;
    flex-direction: column; }
  .btnCerrar {
    top: 1rem;
    right: 2rem; }
  .portfolio {
    margin: 0.5rem; }
  .tit {
    margin-top: 1rem; }
  .imgVideoClip {
    width: 350px; } }
