.header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10rem;
    border-bottom: 1px solid rgb(15, 11, 1);
    background: linear-gradient(to right, rgb(32, 24, 4), black,black, rgb(32, 24, 4));

    img {
        width: 250px;
    }

    &__logo {

        a {
            text-transform: none;
            font-size: 1.5rem;
            letter-spacing: 10px;  
            
            &:hover {
                color: rgb(32, 24, 4);
                text-shadow: goldenrod 1px 1px 2px;
            }
        }

    }

}

.header-nav {


    &__lista {
        display: flex;
        gap: 2rem;
    }

    &__item {

        a {
            
            &::after {
                color: red;
                font-size: 8px;
                font-weight: 100;
                content: 'soon';
            }
        }

        :hover {
            color:goldenrod;
            text-shadow: goldenrod 1px 1px 1px;
        }
    }

    &__link {
        font-size: 0.7rem;
    }
}

.no-after {
    a {
        &::after {
            content:none;
        }
    }
    
}

// Responsive 

@media screen and (max-width: 500px) {
    .header {
        flex-direction: column;
        gap: 0rem;

        &__logo {
            text-align: center;
        }
    }
    
    .header-nav__lista {
        flex-direction: column;
        display: none;
    }
}