
.main {
    width: 90%;
    margin: 0 auto;
    margin-top: 2rem;

    &-head {
        text-align: center;
        margin-bottom: 3rem;

        h2 {
            color: goldenrod;
            margin-bottom: 1rem;
        }
    
        h3 {
            color: white;
            margin-bottom: 1rem;
            font-size: 25px;
        }
    
    }

    &-contenedor {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin: 0 20rem;

        &__uno {
            width: 40%;
            padding: 1rem;
            height: 700px;
            border-left: 1px solid grey;
            border-right: 1px solid grey;
            background: linear-gradient(to right, black, rgb(5,5,5), rgb(10,10,10));

            h3 {
                color: white;
                text-transform: uppercase;
                font-style: italic;
            }

            p {
                color: rgb(196, 190, 190);
                font-size: 20px;
            }     
        
        }

        &__dos {

            margin-bottom: 2rem;
            img {
                max-width: 500px;
                height: 700px;
                border: 1px solid white;
            }
        }

        &__column {
            display: flex;
            margin: 2rem;
        }

        &__box {

            display: flex;

            i {
                color: goldenrod;
                margin: 0 1rem;
                font-size: 2rem;
            }

            h3 {
                color: white;
            }
        }
    }
}

.wppContact {
    width: 120px;
    position:fixed;
    bottom: 3rem;
    right: 3rem;
    z-index: 100;
    padding: 1rem;
    border: 1px solid grey;
    border-radius: 5px;
    text-align: center;
    background: linear-gradient(to left, black, rgb(5,5,5), rgb(10,10,10));
    p {
        color: white;       
    }

    i {
        font-size: 35px;
        color: green;
    }
}

#contactos {
    margin-top: 2rem;

    i {
        color:goldenrod;
        padding-top: 0.5rem;
        font-size: 20px;
    }
    h3 {
        color: white;
        font-size: 25px;
        text-transform: uppercase;
        margin-bottom: 1.5rem;
    }
}

.contact-item {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    margin: 0.5rem;

    p {
        span {
            color: white;
            font-size: 15px;
        }

        a {
            text-transform: lowercase;
            color: orange;
            border-bottom: 1px solid ;

        }
    }
}

.carousel {
    width: 400px;
    max-width: 500px;
    height: 700px;
}

// Responsive 

@media screen and (max-width: 500px) {
    .main-contenedor {
        flex-direction: column;
        justify-content: center;
        margin: 0 auto;

        &__uno {
            width: 100%;
        }
    }

    .carousel {
        max-width: 100%;
    }
    
    .wppContact {
        opacity: 0.9;
        width: 100px;
        bottom: 1rem;
        right: 1rem;
        padding: 0.5rem;
        background: linear-gradient(to left, black, rgb(5,5,5), rgb(10,10,10));
        p {
            display: none;      
        }
    
        i {
            font-size: 35px;
            color: green;
        }
    }
}
